@{
    ViewBag.Title = "گزارش روزانه تعمیرات";
}

@section scripts
{
    <script src="~/DX.ashx?jsfile=~/Views/DailyWorkOrderPrint/Js/Index.js"></script>
}



<div class="row">
    <div class="col-xs-12 col-md-12">
        <section class="app__section">
            <div class="app__section__header">
                سفارشکارها
                @{ Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml"); }
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/DailyWorkOrderPrint/FilterForm/FilterForm.cshtml"); }
                <form id="gridParent" class="app__grid-wrapper">
                    @{ Html.RenderAction("Grid"); }
                </form>
            </div>
        </section>
    </div>
</div>