@{ ViewBag.Title = "گزارش قطعات "; }

@section head
{
    <link href="~/DX.ashx?cssfile=~/Views/MachineConsumeStockReport/Css/Index.min.css" rel="Stylesheet" />
}

@section scripts
{
    <script src="~/DX.ashx?jsfile=~/Views/MachineConsumeStockReport/Js/Index.js"></script>
}





<div class="row">
    <div class="col-xs-12 col-md-4">
        <section class="app__section">
            <div class="app__section__header">
                @ViewBag.Title
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/MachineConsumeStockReport/FilterForm/FilterForm.cshtml"); }
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-md-8">
        <section class="app__section">
            <div class="app__section__header">
                لیست
                @{ Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml"); }
            </div>
            <div class="app__section__body">

                <form class="app__grid-wrapper" id="resultGridParent">
                    @{ Html.RenderAction("GetMachineConsumeStockReportByCondition", "MachineConsumeStockReport"); }
                </form>
            </div>
        </section>
    </div>
</div>