@model Motorsazan.CMMS.Shared.Models.Output.NetExpert.OutputGetWorkOrderByWorkOrderId

<div class="row">
    <div class="col-xs-12 col-md-3">
        @{ Html.RenderPartial("~/Views/NetExpert/MainGrid/DetailRowModals/AddInspectionDetailsModalAddForm.cshtml"); }
    </div>
    <div class="col-xs-12 col-md-9">
        <form id="addInspectionModalGridParent" class="app__grid-wrapper">
            @{ Html.RenderAction("AddInspectionDetailsModalGrid", "NetExpert"); }
        </form>
    </div>
</div>