<div class="app__section__settings ">
    <button class="app__section__settings__menu-btn" title="نمایش تنظیمات"></button>
    <div class="app__section__settings__popup">
        <button class="app__section__settings__action-btn app__section__settings__maximize-btn">
            <img src="/Client/Images/maximize.svg" class="app__section__settings__action-icon" />
                بزرگتر کردن بخش
        </button>
        <button class="app__section__settings__action-btn app__section__settings__minimize-btn">
            <img src="/Client/Images/minimize.svg" class="app__section__settings__action-icon" />
                کوچکتر کردن بخش 
        </button>
    </div>
</div>
