<div class="loading" id="motorsazanLoadingModal">
    <div class="loading__form">
        <div class="loading__logo-wrapper">
            <img class="loading__logo"
                 src="~/Client/Images/logo__circle--primary.png" />
        </div>
        <div class="loading__text">
         در حال تکمیل فرآیند ...
        </div>
    </div>
</div>
