@{
    ViewBag.Title = "ثبت سفارش کار  تولیدی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <link href="~/DX.ashx?cssfile=~/Views/ProductiveWorkOrder/Css/Index.min.css" rel="Stylesheet" />
}
@section scripts
{
    <script src="~/DX.ashx?jsfile=~/Client/Src/JS/Dependencies/SignalR/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/DX.ashx?jsfile=~/Views/ProductiveWorkOrder/JS/Index.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-md-3">
        <section class="app__section">
            <div class="app__section__header">
                ثبت  سفارش کار جدید
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/ProductiveWorkOrder/AddForm/AddForm.cshtml"); }
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-md-9">
        <section class="app__section">
            <div class="app__section__header">
                لیست
                @{ Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml"); }
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/ProductiveWorkOrder/FilterForm/FilterForm.cshtml"); }
                
                <form class="app__grid-wrapper" id="ProductiveWorkOrderSourceGirdParent">
                    @{Html.RenderAction("ProductiveWorkOrderGird", "ProductiveWorkOrder");}
                </form>
            </div>
        </section>
    </div>
</div>
