@{
    ViewBag.Title = "فرم بازرسی ،بهبود و ارتقا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <link href="~/DX.ashx?cssfile=~/Views/Inspection/Css/Index.min.css" rel="Stylesheet" />
}
@section scripts
{
    <script src="~/DX.ashx?jsfile=~/Views/Inspection/JS/Index.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-md-3">
        <section class="app__section">
            <div class="app__section__header">
                 ثبت  بازرسی ، بهبود و ارتقا
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/Inspection/AddForm/AddForm.cshtml"); }
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-md-9">
        <section class="app__section">
            <div class="app__section__header">
                لیست 
                @{ Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml"); }
            </div>
            <div class="app__section__body">
                    @{ Html.RenderPartial("~/Views/Inspection/FilterForm/FilterForm.cshtml"); }
                <form class="app__grid-wrapper" id="inspectionSourceGirdParent">
                    @{ Html.RenderAction("InspectionGird"); }
                </form>
            </div>
        </section>
    </div>
</div>
