@model Motorsazan.CMMS.Shared.Models.Input.StockMan.InputGetConsumablesManagementByWorkOrderId

<div class="row">
    <div id="consumablesManagementGridParent">
        @{ Html.RenderAction("ConsumablesManagementGrid", "StockMan", Model);}
    </div>
</div>