<div class="col-xs-12 col-md-3">
    <div class="app__form-item">
        <label class="app__form-label">
            شماره حواله:
        </label>
        <div id="recipeNumberTextBoxParent">
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "recipeNumberTextBox";
                settings.Properties.NullText = "شماره حواله را وارد کنید";
            }).GetHtml()
        </div>
        <div class="app__form-error app__hide" id="recipeNumberTextBoxError">
            شماره حواله وارد نشده است
        </div>
    </div>
</div>

<div class="col-xs-5 col-md-2 pull-left filter-form__action-wrapper">
    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "recipeNumberBtn";
        settings.Text = "اتمام ویرایش";
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.Styles.CssPostfix = "filter-form__btn";
        settings.Width = Unit.Percentage(100);
        settings.ClientSideEvents.Click =
            "motorsazanClient.stockMan.handleEditRecipeNumberButtonClick";
    }).GetHtml()
</div>