@{
    ViewBag.Title = "دریافت لیست گزارش ام تی تی آر / ام تی بی اف بر اساس امور و گروه تعمیراتی";
}
@section head
{
    <link href="~/DX.ashx?cssfile=~/Views/MaintenanceGroupMttrAndMtbfReport/Css/Index.min.css" rel="Stylesheet" />
}
@section scripts
{
    <script src="~/DX.ashx?jsfile=~/Views/MaintenanceGroupMttrAndMtbfReport/Js/Index.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <section class="app__section">
            <div class="app__section__header">
                @ViewBag.Title
                @{ Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml"); }
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/MaintenanceGroupMttrAndMtbfReport/FilterForm/FilterForm.cshtml"); }
                <form id="gridParent" class="app__grid-wrapper">
                    @{ Html.RenderPartial("~/Views/MaintenanceGroupMttrAndMtbfReport/Grid/Grid.cshtml"); }
                </form>
            </div>
        </section>
    </div>
</div>