@font-face {
    font-family: Shabnam;
    src: url("/Fonts/Shabnam-FD.eot");
    src: url("/Fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("/Fonts/Shabnam-FD.woff2") format("woff2"), url("/Fonts/Shabnam-FD.woff") format("woff"), url("/Fonts/Shabnam-FD.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url("/Fonts/Shabnam-Bold-FD.eot");
    src: url("/Fonts/Shabnam-Bold-FD.eot?#iefix") format("embedded-opentype"), url("/Fonts/Shabnam-Bold-FD.woff2") format("woff2"), url("/Fonts/Shabnam-Bold-FD.woff") format("woff"), url("/Fonts/Shabnam-Bold-FD.ttf") format("truetype");
    font-weight: bold;
}

/*@font-face {
    font-family: Shabnam;
    src: url("/Fonts/Shabnam-Thin.eot");
    src: url("/Fonts/Shabnam-Thin.eot?#iefix") format("embedded-opentype"), url("/Fonts/Shabnam-Thin.woff2") format("woff2"), url("/Fonts/Shabnam-Thin.woff") format("woff"), url("/Fonts/Shabnam-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url("/Fonts/Shabnam-Light.eot");
    src: url("/Fonts/Shabnam-Light.eot?#iefix") format("embedded-opentype"), url("/Fonts/Shabnam-Light.woff2") format("woff2"), url("/Fonts/Shabnam-Light.woff") format("woff"), url("/Fonts/Shabnam-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url("/Fonts/Shabnam-Medium.eot");
    src: url("/Fonts/Shabnam-Medium.eot?#iefix") format("embedded-opentype"), url("/Fonts/Shabnam-Medium.woff2") format("woff2"), url("/Fonts/Shabnam-Medium.woff") format("woff"), url("/Fonts/Shabnam-Medium.ttf") format("truetype");
    font-weight: 500;
}*/
