<div class="filter-form">
    <div class="row">

        <div class="col-xs-12 col-md-3">
            <div class="app__form-item">
                <label class="app__form-label">
                    انتخاب امور
                </label>
                <div id="filterFormDepartmentIdComboParent">
                    @{ Html.RenderAction("FilterFormDepartmentIdCombo", "MainMachineOilServiceReport"); }
                </div>
                <div class="app__form-error app__hide" id="filterFormDepartmentIdComboError">
                    امور انتخاب نشده است
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="app__form-item">
                <label class="app__form-label">
                    انتخاب خط
                </label>
                <div id="filterFormSubDepartmentIdComboParent">
                    @{ Html.RenderPartial("~/Views/MainMachineOilServiceReport/FilterForm/FilterFormSubDepartmentIdCombo.cshtml"); }
                </div>
                <div class="app__form-error app__hide" id="filterFormSubDepartmentIdComboError">
                    خط انتخاب نشده است
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="app__form-item">
                <label class="app__form-label">
                    انتخاب ماشین
                </label>
                <div id="filterFormMachineIdComboParent">
                    @{ Html.RenderPartial("~/Views/MainMachineOilServiceReport/FilterForm/FilterFormMachineIdCombo.cshtml"); }
                </div>
                <div class="app__form-error app__hide" id="filterFormMachineIdComboError">
                    ماشین انتخاب نشده است
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="app__form-item">
                <label class="app__form-label">
                    بازه زمانی
                </label>
                <div id="filterFormDateComboParent">
                    @{ Html.RenderPartial("~/Views/MainMachineOilServiceReport/FilterForm/FilterFormDateCombo.cshtml"); }
                </div>
                <div class="app__form-error app__hide" id="filterFormDateComboError">
                    بازه زمانی انتخاب نشده است
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-3 " id="filterFormPeriodStartDatePickerParent">
            <div class="app__form-item">
                <label class="app__form-label">
                    از تاریخ
                </label>
                <div>
                    <input type="text" class="app__form-datepicker"
                           id="filterFormPeriodStartDatePicker"
                           placeholder="از تاریخ"
                           data-mddatetimepicker="true"
                           data-englishnumber="true"
                           data-targetdateselector="#filterFormPeriodStartDatePicker" />
                </div>
                <div class="app__form-error app__hide" id="filterFormPeriodStartDatePickerError">
                    شروع بازه زمانی انتخاب نشده است
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-3" id="filterFormPeriodEndDatePickerParent">
            <div class="app__form-item">
                <label class="app__form-label">
                    تا تاریخ
                </label>
                <div>
                    <input type="text" class="app__form-datepicker"
                           id="filterFormPeriodEndDatePicker"
                           placeholder="تا تاریخ"
                           data-mddatetimepicker="true"
                           data-englishnumber="true"
                           data-targetdateselector="#filterFormPeriodEndDatePicker" />
                </div>
                <div class="app__form-error app__hide" id="filterFormPeriodEndDatePickerError">
                    پایان بازه زمانی انتخاب نشده است
                </div>
            </div>
        </div>

        <div class="col-xs-5 col-md-3 filter-form__action-wrapper">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "filterFormSearchBtn";
                settings.Text = "مشاهده";
                settings.UseSubmitBehavior = false;
                settings.EnableClientSideAPI = true;
                settings.Styles.CssPostfix = "filter-form__btn";
                settings.Width = Unit.Percentage(100);
                settings.ClientSideEvents.Click =
                    "motorsazanClient.mainMachineOilServiceReport.handleFilterFormSearchButtonClick";
            }).GetHtml()
        </div>

    </div>

</div>