<div class="row">
    <div class="col-md-12 col-md-offset-4">
        <h2>
            شما مجوز دسترسی به این صفحه را ندارید
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-md-offset-5">
        <h4>
            <a href="@Url.Action("Index", "Home")"> بازگشت به صفحه اصلی</a> 
        </h4>
    </div>
</div>
