
@model Motorsazan.CMMS.Shared.Models.Input.DepartmentMttrAndMtbfReport.InputGetMTTRAndMTBFPerformanceReportByMachineId

<form>
    @{ Html.RenderAction("ShowMttrAndMtbfPerformanceReportPartial", "DepartmentMttrAndMtbfReport",
            new { MachineId = Model.MachineId, StartDate = ViewData["StartDate"], EndDate = ViewData["EndDate"], DatePeriodType = ViewData["DatePeriodType"] }); }
</form>