@model Motorsazan.CMMS.Shared.Models.Input.DepartmentMttrAndMtbfReport.InputGetMTTRAndMTBFFaultCodeCountReportByMachineId

<form>
    @{ Html.RenderAction("ShowGetMttrAndMtbfFaultCodeCountReportPartial", "DepartmentMttrAndMtbfReport",
           new { MachineId = Model.MachineId, StartDate = ViewData["StartDate"], EndDate = ViewData["EndDate"], DatePeriodType = ViewData["DatePeriodType"] }); }
</form>