@{
    ViewBag.Title = "گزارشات PLC";
}

@section head
{
    <link href="~/DX.ashx?cssfile=~/Views/PLCReport/Css/Index.min.css" rel="Stylesheet" />
}

@section scripts
{
<script src="~/DX.ashx?jsfile=~/Views/PLCReport/Js/Index.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <section class="app__section">
            <div class="app__section__header">
                @ViewBag.Title
                @{ Html.RenderPartial("~/Views/Shared/Partials/_AppSectionSettings.cshtml"); }
            </div>
            <div class="app__section__body">
                @{ Html.RenderPartial("~/Views/PLCReport/FilterForm/FilterForm.cshtml"); }

                @{ Html.RenderPartial("~/Views/PLCReport/PlcReportSelect/PlcReportSelect.cshtml"); }
            </div>
        </section>
    </div>
</div>