<div class="row">
    <label>
         جزئیات تعویض ابزار در
    </label>
    <label>
        دستگاه: @ViewData["MachineName"].ToString(), شماره پالت: @ViewData["PalletChanger"].ToString()
    </label>
</div>

<form>
    @{ Html.RenderAction("PLCMachineSpindlePerformanceReportDetailGrid", "PLCReport"); }
</form>