<div class="row">
    <label>
        گزارش جزئیات زمان در دسترس برای دستگاه @ViewData["MachineName"].ToString()
    </label>
</div>

<form>
    @{ Html.RenderAction("PLCMachineSpindlePerformanceReportGrid", "PLCReport"); }
</form>